<!DOCTYPE html>
<html>
  <head>
    <title>Helpwater</title>
    <%= csrf_meta_tags %>
    <%= tag.meta name: 'current_user_ip', content: request.remote_ip  %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag    'application' %>

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:400,600" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
